@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

html{
  font-family: 16px;
}
body{
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  overflow-x: hidden;
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
}